* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #e9967a;
  color: white;
  margin: 0 8rem;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  font-size: xx-large;
}

#logo {
  height: 50px;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#link {
  display: flex;
  justify-content: center;
}

a {
  background-color: gray;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.card {
  width: 250px;
  margin-right: 50px;
}

ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:darkcyan;
  padding: 1rem 1rem;
  border-radius: 0 0 10px 10px;
}

h2 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  background-color: darkgrey;
  border-radius: 10px 10px 0 0;
}

li {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
