* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: darksalmon;
  color: white;
  margin: 0 8rem;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  font-size: xx-large;
}

#logo {
  height: 50px;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

table {
  margin-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

thead {
  width: 5rem;
  padding-top: 1rem;
}

tbody {
  border: thin solid black
}